/* Uralbek Tursunov • uralbek.uz • v1.0.0 (10924) */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
#top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    background: #fff;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)
}
#header {
    padding-left: 18px;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none
}
#logotip {
    font-family:"Oswald";
    float:left!important;
    font-size:26px;
    padding:3px;
    color:#0095B6;
    text-shadow:0.5px 0.7px #000;}

.hyder{background:#282A45;border-radius:0 0 100px 0}
.hr{border:0.1px solid #fff;margin:5px;margin-left:0;width:60%}
.w3-pale-red {
    border: 1px solid #0095b6;
    border-radius: 100px 0 100px 0;
}
.center {
    margin: 20px;
    margin-bottom: 2px;
}

.right{margin-right:100px;width:100px;float:right!important}
@media screen and (max-width:700px){.display{display:none}}